.pagecontrols-container {
    margin: 0;
    padding: 0;
    float: right;
    margin-bottom: 12px;
    padding-top: 13px;
}

.dashboard-row .dashboard-panel .panel-body.html, .dashboard-row .dashboard-panel .panel-body.splunk-html {
    padding: 0px;
}


#algotable, #algotable tbody {
    font-family: inherit !important;
}

.btn-pill {
    display: inline-block;
    padding: 5px 5px;
    line-height: 9px;
    border-radius: 3px;
    background-color: none;
    border: 1px solid transparent;
    color: #5c6773;
    -webkit-box-shadow: none;
    box-shadow: none;
}